

<h3>Listado de heroes - con github</h3>

<h4
  *ngIf="deletedHero; else nothingWasDeleted"
  >Heroe borrado: <small class="text-danger" >{{ deletedHero }}</small>
</h4>

<ng-template #nothingWasDeleted>
  <h4>No ha borrado nada</h4>
</ng-template>


<button
  *ngIf="heroName.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger" >
  Borrar último héroe
</button>

<!-- <ul class="mt-2 list-group">
  <li class="list-group-item">Spiderman</li>
  <li class="list-group-item">Ironman</li>
  <li class="list-group-item">Hulk</li>
  <li class="list-group-item">Thor</li>
</ul> -->

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroName"
  class="list-group-item">
  {{ name }}</li>
</ul>
